<header>
  <nav class="navbar navbar-expand-lg py-1 sticky-top nav-border">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mr-5">
          <a
            id="nav-title"
            class="navbar-brand display-1"
            [routerLink]="['/movies']"
            ><strong>{{ title }}</strong></a
          >
        </div>
        <div class="col-md-3">
          <a
            class="navbar-brand text-white"
            [routerLink]="['movies/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            ><strong>MOVIES</strong></a
          >
        </div>
        <div class="col-md-3">
          <a
            class="navbar-brand text-white"
            [routerLink]="['movies/favorite']"
            routerLinkActive="active"
            ><strong>FAVORITE</strong></a
          >
        </div>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
