#card-container {
    max-width: 300px;
    // min-height: 50px;
}
.card-image {
    height: 200px;
}
.search-icon-box {
    height: 40px;
    background-color: red;
    width: 40px;
    float: left;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
path.search-icon-box{
    color: #121212;
    border: blue 1px solid;
}
.search-input {
    border-radius: 30px;
    width: 450px;
    height: 40px;
    line-height: 40px;


}
input[type='text']::placeholder, input[type='text']{
  text-align: center;
}
@media (max-width: 526px) {
  .search-input {
    width: 200px;
    height: 40px;
    line-height: 30px;
  }

}
