#card-container {
    max-width: 300px;
    // min-height: 50px;
}
.card-image {
    height: 200px;
}
.search-icon-box {
    height: 40px;
    width: 40px;
    float: left;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
fa-icon.icon-color {
    color: #121212;
}
.search-input {
    border-radius: 30px;
    width: 450px;
    height: 40px;
    line-height: 40px;


}
