<section class="container mt-5 ml-5">
  <form #searchForm="ngForm" ngSubmit="performFilter(moviesFilter)">
    <div class="row ">
      <div class="col-4">
        <a class="search-icon-box">
          <fa-icon
            class="icon-color"
            [icon]="['fas', 'search']"
            class="text-white"
          >
          </fa-icon>
        </a>
        <input
          [(ngModel)]="movieFilter"
          name="searchForm"
          type="text"
          class="search-input"
          placeholder="Search Movies"
        />
      </div>
      <!-- <div class="ml-3 align-self-center">
        <button type='submit' class="w-10 h-100">
          <fa-icon
            [icon]="['fas', 'search']"
            [classes]="['search-icon-button']"
          >
          </fa-icon
          ><span>Search</span>
        </button> -->
      <!-- </div> -->
    </div>
  </form>
</section>

<section class="container mt-5">
  <div class="row">
    <div *ngFor="let movie of filteredMovies" class="col-sm-3 col-6  mb-3">
      <div class="card hvr-grow-shadow">
        <div class="card-body p-0">
          <favorite-vote
            (vote)="toggleVote(movie)"
            [voted]="hasVoted(movie)"
            [movie]="movie"
          ></favorite-vote>
          <!-- [voted]="hasVoted(movie)" -->
          <img [src]="movie.Poster" class="card-img-top" alt="movie-image" />

          <aside class="text-danger p-3 ">
            <h3 class="card-title mb-0 h6">
              {{ movie.Title }}
            </h3>
            <span class="mat-caption mat-body-strong text-muted font-weight-bold">{{
              movie.Released
            }}</span>
            <div class="d-flex mt-2">
              <a [routerLink]="['/movies', movie.id]"
                ><span class="text-dark font-weight-normal">view</span></a
              >
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <router-outlet></router-outlet> -->
