<section  class="container mt-5">
        <div class="row justify-content-sm-end">
                <div class="col-6 col-sm-3 mb-3">
                        <div class="card border hvr-grow-shadow">
                                <div class="card-body">
                                        <img [src]="" class="card-img-top" alt="">
                                        <aside class="">
                                                <h3 class="card-title mat-body-strong">movies.Title</h3>
                                                <span class="mat-caption">movies.Released</span>
                                        </aside>
                                </div>

                        </div>
                </div>
                
        </div>
</section>
